@{
    ViewBag.Title = "Dashboard";
    ViewBag.DashboardActive = "active";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>This spans 8</h1>

        </div>
        <div class="col-md-4">
            <h2>This spans 4</h2>
        </div>
    </div>
</div>

