@model Timesheet.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div id="div-background-for-animation"></div>

    <div class="container">
        <div class="circle-container circle-large " id="login-container">
            <div class="container-content" id="login-box">
                <h3>
                    <img src="~/Images/Global/temp_logo.png" id="img-logo" width="90"/>
                </h3>
                <input id="txt-email" class="form-control" type="text" placeholder="Email"/>
                <input id="txt-password" class="form-control" type="password" placeholder="Password"/>
                <div class="btn-container text-center">
                    <input type="button" class="btn btn-default" value="Forgot Password" />
                    <input type="button" class="btn btn-primary" value="Login" />
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <style type="text/css">        
        body {
            background:none;
        }
        .container {
            z-index:100;
            position:relative;
        }
        #login-container {
            position: relative;
            -webkit-transition: top 1s;
            transition: top 1s;            
        }
            #login-container .container-content {
                padding:30px;
            }
            #login-container h3 {
                text-align: center;
                font-weight:bold;
                text-transform:uppercase;
                margin-bottom:30px;
                margin-top:60px;
            }
            #login-container #txt-password {
                margin-top:10px;
            }
        #div-background-for-animation {
            position:absolute;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:-100;
            display:none;
            background:url(../Images/Global/app_background.png);
        }
        footer .copyright {
            display:none;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $loginContainer = $('#login-container');
            $animateBG = $('#div-background-for-animation');
            $footerCopyright = $('footer .copyright');

            $loginContainer.css({
                top: 50
            });
            $footerCopyright.fadeIn(1200);
            $animateBG.fadeIn(1200);
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
